<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="d_pad.Properties.Settings.InformationdbConnectionString"
            connectionString="Data Source=SKYVINE-PC\MYSQLSERVER;Initial Catalog=Informationdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>